
.full-height {
    height: 100vh;
}

.login-image {
    background: url('/images/login.jpg') no-repeat center center;
    background-size: cover;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-box {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.bg-color {
    background-color: #ff9eb4;
}

thead.table-head th {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #343a40;
    color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-right: 1px solid white;
}

/* Remove left border from the first th and last th for cleaner look */
thead.table-head th:first-child {
    border-right: none;
}

thead.table-head th:last-child {
    border-right: none;
}
